* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

.left-side {
    width: 40vw;
    background-image: url(/imgs/alice-butenko-zstWUZFj77w-unsplash.jpg);
    background-size: cover;
    filter: saturate(0);
    justify-content: center;
}

.left-side > div {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    height: fit-content;
    margin-top: 100px;
    opacity: 80%;
}

.right-side {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 20px;
}

p {
    max-width: 900px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
    margin-bottom: 20px;
    gap: 40px;
}

fieldset {
    display: flex;
    gap: 10vw;
    border: black solid 3px;
    padding: 40px;
    position: relative;
    box-shadow: black 3px 3px;
}

label + input {
    display: block;
}
